/* ------- ETAPE 3 - Gestion des classes CSS pour le slider et ------ */
.swiper-container div {
  width: 1440px !important;
  height:300px;
} 

/* Adaptation de la taille du conteneur en version tablette */
@media (max-width:$breakpoint__tablet) {

  .swiper-container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-ios.swiper-watch-progress {
    width:100% !important;
  }

  .swiper-container div {
    width:100% !important;
    max-width: 700px;
  }
}

/*Adaptation de la taille du conteneur en version mobile */
@media (max-width:$breakpoint__large_phone) {

  .swiper-container.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-ios.swiper-watch-progress {
    width:100% !important;
    max-width: 300px;
  }
  .swiper-container div {
    width:100% !important;
    max-width: 300px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.swiper-slide.active {
  transform: scale(10);  /* Petit zoom pour le slide actif */
  transition: transform 0.3s ease; /* Transition fluide pour l'effet de zoom */
}


